gs-rest-service/complete/.idea/*
gs-rest-service/complete/target/*
gs-consuming-rest/complete/.idea/*
gs-consuming-rest/complete/target/*
gs-accessing-data-jpa/complete/.idea/*
gs-accessing-data-jpa/complete/target/*
spring-modularization/complete/.idea/*
spring-modularization/complete/target/*